.idea

# ignore generic files from macos
*~
*.lock
*.DS_Store
*.swp
*.out

**/appjs/

**/bower_packages/
**/node_modules/

**/js/**/*.js
**/js/**/*.js.map
**/app/**/*.js
**/app/**/*.js.map

**/typings/**/*.d.ts
!**/typings/**/expenseApp.d.ts
!**/typings/**/tsd.d.ts